{
	"extends": [
		"prettier",
		"prettier/react",
		"eslint:recommended",
		"plugin:react/recommended",
		"eslint:recommended"
	],
	"plugins": ["react-hooks", "react"],
	"parserOptions": {
		"ecmaVersion": 2019,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"env": {
		"es6": true,
		"browser": true,
		"node": true
	},
	"rules": {
		"react/prop-types": 0,
		"react-hooks/rules-of-hooks": "error",
		"react-hooks/exhaustive-deps": "warn",
		"prefer-destructuring": [
			"error",
			{
				"array": false,
				"object": true
			},
			{
				"enforceForRenamedProperties": false
			}
		],
		"no-dupe-args": "error",
		"no-dupe-keys": "error",
		"no-duplicate-case": "error",
		"no-empty": "error",
		"no-irregular-whitespace": "error",
		"no-unexpected-multiline": "error",
		"no-unreachable": "error",
		"curly": "error",
		"semi": "error",
		"default-case": "error",
		"no-param-reassign": "error",
		"no-self-assign": "error",
		"no-unused-expressions": "error",
		"yoda": "error",
		"no-undef": "error",
		"no-undefined": "error",
		"camelcase": "error",
		"no-mixed-spaces-and-tabs": "error",
		"no-multiple-empty-lines": "error",
		"no-trailing-spaces": "error",
		"no-var": "error",
		"no-useless-constructor": "error",
		"prefer-rest-params": "error",
		"prefer-const": "error",
		"no-duplicate-imports": "error",
		"arrow-spacing": "error",
		"require-await": "error",
		"no-self-compare": "error",
		"no-return-assign": "error",
		"no-new-wrappers": "error",
		"no-eval": "error",
		"no-empty-function": "error",
		"no-use-before-define": "error"
	},
	"settings": {
		"react": {
			"createClass": "createReactClass", // Regex for Component Factory to use,
			// default to "createReactClass"
			"pragma": "React", // Pragma to use, default to "React"
			"version": "detect" // React version. "detect" automatically picks the version you have installed.
			// You can also use `16.0`, `16.3`, etc, if you want to override the detected value.
			// default to latest and warns if missing
			// It will default to "detect" in the future
			// "flowVersion": "0.53" // Flow version
		},
		"import/core-modules": ["styled-jsx/css"],
		"propWrapperFunctions": [
			// The names of any function used to wrap propTypes, e.g. `forbidExtraProps`. If this isn't set, any propTypes wrapped in a function will be skipped.
			"forbidExtraProps",
			{ "property": "freeze", "object": "Object" },
			{ "property": "myFavoriteWrapper" }
		],
		"linkComponents": [
			// Components used as alternatives to <a> for linking, eg. <Link to={ url } />
			"Hyperlink",
			{ "name": "Link", "linkAttribute": "to" }
		]
	}
}
